body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-open-sans: "Open Sans";
  --font-volkhov: Volkhov;
  --font-google-sans: "Google Sans";
  --font-roboto: Roboto;
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --font-size-31xl: 50px;
  --font-size-xl: 20px;
  --font-size-mid: 17px;
  --font-size-3xl: 22px;
  --font-size-2xl: 21px;

  /* Colors */
  --white: #fff;
  --text-clr: #5e6282;
  --border-color: #f7f7f7;
  --circle: #f5f5f5;
  --st1: #212832;
  --rd: #14183e;
  --black: #080809;
  --text-heading-color: #1e1d4c;
  --st: #181e4b;
  --color-salmon: #df6951;
  --text-color: #686d77;
  --yellow: #f1a501;
  --rd1: #e5e5e5;
  --nd: #6246e5;
  --st2: #ff7152;
  --color: #f0bb1f;
  --color1: #8a79df;
  --text-2: #84829a;
  --text-color: #39425d;

  /* border radiuses */
  --br-3xs: 10px;
  --br-8xs: 5px;
  --br-11xl: 30px;
  --br-lg: 18px;
  --br-5xl: 24px;
}
